<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="./assets/logo/Booki.png" />
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <!--CSS-->
    <link rel="stylesheet" href="./public/css/style.css">
   
    <title>Oh my Food</title>
</head>
<body>
    <header>
        <i class="fas fa-arrow-left"></i>
        <img src="./public/img/logo/ohmyfood@2x.svg" alt="">
    </header>

    <main>
        <section id="title">
            <h1>
                La palette du gout
            </h1>
            <i class="far fa-heart"></i>
        </section>
        <section class="menu">
            <div class="menu_enter">
               <div class="type">
                    <h4>Ravioles de fois gras</h4>
                    <div class="description">
                        <p>Accompagnés de leur crème à la truffe</p>
                        <p>25€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
               </div>
               <div class="type">
                    <h4>Caviar osciètre</h4>
                    <div class="description">
                        <p>Sur blini à la farine de blè noir</p>
                        <p>35€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
                </div>
                <div class="type">
                    <h4>Homard et espuma de...</h4>
                    <div class="description">
                        <p>Mariné aux zeste d'orange</p>
                        <p>20€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
               </div>
               <div class="type">
                    <h4>Foie gras de canard cuit entier</h4>
                    <div class="description">
                        <p>Confiture de figue et pain toasté</p>
                        <p>35€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
                </div>
            </div>

            <div class="menu_dishes">
                <div class="type">
                     <h4>Noix de coquilles Saint-Jacques</h4>
                     <div class="description">
                         <p>Sur lit de purée de céleri-rave</p>
                         <p>40€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
                <div class="type">
                     <h4>Langoustine poêlée</h4>
                     <div class="description">
                         <p>Purée de patate douce</p>
                         <p>35€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                 </div>
                 <div class="type">
                     <h4>Mijoté de queue de boeuf</h4>
                     <div class="description">
                         <p>Et riz sauvage aux zests de citron</p>
                         <p>44€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
             </div>   

             <div class="menu_desserts">
                <div class="type">
                     <h4>Macaron noisette et chocolat</h4>
                     <div class="description">
                         <p>Glace au caramel brun et sel de Guérande</p>
                         <p>18€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
                <div class="type">
                     <h4>Baba au ruhm revisité</h4>
                     <div class="description">
                         <p>Avec son coulis de citron</p>
                         <p>22€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                 </div>
                 <div class="type">
                     <h4>Tarte au citron meringuée</h4>
                     <div class="description">
                         <p>Destructurée</p>
                         <p>23€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
             </div>  
             <button class="purple_btn">Commander</button>
        </section>
        
    </main>
    <footer>
        <img src="./public/img/logo/ohmyfood@2x.svg" alt="">
        <ul class="nav_footer">

            <li>
                <i class="fas fa-utensils"></i>
                <p>Proposer un restaurant</p>
            </li>
            <li>
                <i class="fas fa-hands-helping"></i>
                <p>Devenir partenaire</p>
            </li>
            <li>
                Mentions légales
            </li>
            <li>
                Contact
            </li>

        </ul>
        
    </footer>
    <script src="https://kit.fontawesome.com/dc5cfd24d7.js" crossorigin="anonymous"></script>
</body>
</html>