<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FAVICON-->
    <link rel="icon" type="image/png" href="./assets/logo/Booki.png" />
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" 
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer">
    
    <!--CSS-->
    <link rel="stylesheet" href="./public/css/style.css">
   
    <title>Oh my Food</title>
</head>
<body>
    <header>
        <i class="fas fa-arrow-left"></i>
        <img src="./public/img/logo/ohmyfood@2x.svg" alt="">
    </header>

    <main>
        <section id="title">
            <h1>
                Le délice des sens 
            </h1>
            <i class="far fa-heart"></i>
        </section>
        <section class="menu">
            <div class="menu_enter">
                <h2>Entrées</h2>
               <div class="type">
                    <h3>Tartare de thon</h3>
                    <div class="description">
                        <p>Assosonné au yuzu</p>
                        <p>25€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
               </div>
               <div class="type">
                    <h3>Bouchée de homard croustillant</h3>
                    <div class="description">
                        <p>Et sa farandole de petits légumes</p>
                        <p>35€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
                </div>
                <div class="type">
                    <h3>Vélouté de cèpes</h3>
                    <div class="description">
                        <p>Aux truffes</p>
                        <p>20€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
               </div>
            </div>

            <div class="menu_dishes">
                <h2>Plats</h2>
                <div class="type">
                     <h3>Poulet rôti aux herbes de provence</h3>
                     <div class="description">
                         <p>Et sa crème de truffe</p>
                         <p>40€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
                <div class="type">
                     <h3>Langouste rôtie</h3>
                     <div class="description">
                         <p>Et ses léhumes de saison</p>
                         <p>35€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                 </div>
                 <div class="type">
                     <h3>Cote de boeuf angus</h3>
                     <div class="description">
                         <p>Et sa purée de panais</p>
                         <p>44€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
             </div>   

             <div class="menu_desserts">
                <h2>Desserts</h2>
                
                <div class="type">
                     <h3>Farandole de desserts</h3>
                     <div class="description">
                         <p>Du chef</p>
                         <p>18€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                 </div>
                 <div class="type">
                     <h3>Crème brulée</h3>
                     <div class="description">
                         <p>Revisitée</p>
                         <p>22€</p>
                     </div>
                     <button class="addToCart">
                         <i class="fas fa-check-circle"></i>
                     </button>
                </div>
                <div class="type">
                    <h3>Tiramisu</h3>
                    <div class="description">
                        <p>À la noisette</p>
                        <p>23€</p>
                    </div>
                    <button class="addToCart">
                        <i class="fas fa-check-circle"></i>
                    </button>
               </div>
             </div>  
             <button class="purple_btn">Commander</button>
        </section>
        
    </main>
    <footer>
        <img src="./public/img/logo/ohmyfood@2x.svg" alt="">
        <ul class="nav_footer">

            <li>
                <i class="fas fa-utensils"></i>
                <p>Proposer un restaurant</p>
            </li>
            <li>
                <i class="fas fa-hands-helping"></i>
                <p>Devenir partenaire</p>
            </li>
            <li>
                Mentions légales
            </li>
            <li>
                Contact
            </li>

        </ul>
        
    </footer>
    <script src="https://kit.fontawesome.com/dc5cfd24d7.js" crossorigin="anonymous"></script>
</body>
</html>